{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
<meta name="description" content="{% block description %}{{ description }}{% endblock description %}">
<meta name="keywords" content="{% block keywords %}{{ keywords }}{% endblock keywords %}">
{% block content %}
    <div class="container-fluid col-9 news-container">
  <div class="row justify-content-center">
  <div class="col-4">
{% for contact in contacts %}

    <div class="contacts">
        <a href="mailto:{{ contact.value }}"><h3>{{ contact.value }}</h3></a>
    </div>

{% empty %}
    NO contacts ((

    {% endfor %}
  </div>
  </div>
    </div>
{% endblock %}